@use './variables' as *;


header#hero {
  text-align: center;
  padding: 2rem 1rem;
  max-width: $max-width;
  margin: 0 auto;
  img { width: rem(120); border-radius: 50%; @include center-block; }
  h1 { font-size: rem(28); }
  p { color: darken($primary-color, 20%); }
}

.projects { display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem;
  @include respond-to(medium) { grid-template-columns: repeat(2, 1fr); }
  @include respond-to(small) { grid-template-columns: 1fr; }
}
