@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@function rem($px) {
  @return #{$px / 16}rem;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 640px) { @content; }
  } @else if $breakpoint == medium {
    @media (max-width: 900px) { @content; }
  } @else if $breakpoint == large {
    @media (min-width: 901px) { @content; }
  }
}
