@use 'variables' as *;
@use 'mixins' as *;
@use 'typography' as *;
@use 'layout' as *;

/* estilos adicionales */
main { max-width: $max-width; margin: 1rem auto; padding: 1rem; }
form { display: grid; gap: 0.5rem; label { display: block; } button { padding: 0.6rem 1rem; border-radius: 6px; } }


body {
  font-family: $font-main;
  color: $color-text;
  background-color: $color-background;
}

button {
  background-color: $color-primary;
  border-radius: $border-radius;
  box-shadow: $shadow-light;

  &:hover {
    background-color: $color-secondary;
  }
}